.first-fold {
    height: 300px;
    background: url('../../public/images/image-hero-mobile.jpg') no-repeat center center/cover;
    padding: 32px 25px 0;
    box-sizing: border-box;
    
    .fixed-hamburger {
        .logo-hamburger-container {
            display: flex;
            justify-content: space-between;
            position: relative;
            
            #hamburger-icon {
                content:url('../../public/images/icon-hamburger.svg');
                width: 16px;
                height: 15px;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .menu {
            display: none;
            margin-top: 30px;
            background-color: #fff;
            list-style-type: none;
            border-radius: 8px;
        }
    }
    
}

// hamburger menu open settings
body.hamburger-open {
    overflow: hidden;

    .overlay {
        display: block;
        z-index: 1;
    }

    // Displaying the hamburger menu
    .first-fold {
        position: relative;

        .fixed-hamburger {
            position: fixed;
            width: calc(100% - 50px);
            z-index: 2;

            .logo-hamburger-container {

                
                #hamburger-icon {
                    content:url('../../public/images/icon-close-menu.svg');

                }
            }
            .menu {
                // position: absolute;
                display: block;
                box-sizing: border-box;
                width: 100%;
                z-index: 2;
                
                
                li {
                    padding: 24px;
                    &:not(:first-child){
                        border-top: 1px solid rgb(47, 47, 47);
                    }
                }
            }
        }
        
    }
}

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

//  ****** About section ******
.about {
    padding: 0 25px;
    margin: 0 25px;
    position: relative;
    margin-top: -30px;
    // background-color: #fff;
    border: 1px solid red;

    .buttons-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
