@media screen and(min-width:572px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    body {
        // if user opened hamburger menu, then increased screen size, hide the overlay and hamburger menu (and its icons)
        .first-fold {
            .fixed-hamburger {
                .logo-hamburger-container {
                    #hamburger-icon {
                        display: none;
                    }
                }
            }
        }
        
        &.hamburger-open {
            .first-fold {
                .fixed-hamburger {
                    position: static;
                    width: unset;
                    z-index: unset;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    
                    .logo-hamburger-container {
                        #hamburger-icon {
                            display: none;
                        }
                    }
                    
                    ul.menu {
                        width: unset;
                        border-radius: 0;
                        margin-top: unset;
                        display: flex;
                        justify-content: flex-end;
                        background-color: transparent;
                        
                        li {
                            margin: 0 15px;
                            font-size: 13px;
                            
                            &:not(:first-child){
                                border-top: unset;
                            }
                            
                            a {
                                padding: 0;
                                color: #fff;
                                
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            
            .overlay {
                display: none;
            }
            
            // If the user opens the hamburger menu, then makes the screen larger ('hamburger-open' class is present, this will ensure that the overlay will still be visible upon opening the 2 modals)
            &.back-project-open, &.thankyou-open {
                .overlay {
                    display: block;
                }
            }    
            
        }
        
        
        .info {
            .buttons-container {
                .bookmark-button {
                    // width: 190px;
                    box-sizing: border-box;

                    span {
                        display: block;
                        font-weight: 700;
                        padding: 0 25px 0 15px;
                        color: #7A7A7A;
                    }

                    &.bookmarked {                        
                        span {
                            &::after {
                                content:'ed';
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and(min-width:850px) {
    .container {
        margin-left: 15%;
        margin-right: 15%;
    }   
}

@media screen and(min-width:950px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 730px;
        width: 73%;
    }   
}