.menu {
    li {
        font-size: 1.13rem;
    }
}

.text-center {
    text-align: center;
}

.text-gray {
    color: #7A7A7A;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}
p.text-gray {
    margin: 25px 0;
}