button { 
    display: inline-block;
    border-radius: 5px;
    line-height: 28px;
    letter-spacing: 0.25px;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid transparent; //so that the buttons don't change height upon hover - box-sizing:border-box does not work
    padding: 10px 32px;
    outline: none;
    
    &:hover {
        cursor: pointer;
    }
}