button { 
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 100px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    
    &:hover {
        cursor: pointer;
    }
}

button.bookmark-button {
    background-color: rgba(47, 47, 47, .05);
    display: inline-block;
    height: 56px;
    width: min-content;
    display: flex;
    align-items: center;
    width: 174px;
    
    &:hover {        
        #bookmark-circle {
            fill: #707070;
        }
    }
    
    span {
        font-weight: 700;
        padding-left: 16px;
        color: #7A7A7A;
    }

    // When the button is clicked and we have bookmarked the page
    &.bookmarked {

        #bookmark-circle {
            fill: #147A73;
        }
    
        #bookmark-icon {
            fill: #ffffff;
        }
    
        span {
            color: #147A73;

            &::after {
                content:'ed'
            }
        }
    }
}
