.thank-you-container {
    display: none;
}


body {
    &.thankyou-open {
        overflow: hidden;
    
        .overlay {
            display: block;
        }
        .pledge-modal {
            display: block;
            position: fixed;
            top: 5vh;
            z-index: 3;
            height: 80vh;
            overflow-y: scroll;
        }
    }
}