.thankyou-modal {
    display: none;
}


body {
    &.thankyou-open {
        overflow: hidden;
    
        .overlay {
            display: block;
        }
        .thankyou-modal {
            display: block;
            position: fixed;
            top: 50vh;
            transform: translateY(-50%);
            z-index: 3;
        }
    }
}